.lds-dual-ring {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}

h3 {
    text-align: center;
    padding-top: 30px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(77, 155, 245);
    border-color: rgb(53, 120, 243) transparent rgb(28, 130, 212) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}