<nav class="navbar navbar-default main-header">
    <div class="container header-main">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">Blog Book</a>

            <div class="footer-icons">
                <ul class="navbar-nav ">
                    <li class="nav-item inline-block">
                        <a href="https://github.com/mehulk05" aria-label="Github" class="nav-link text-github"><i
                                class="fa fa-github" style="font-size: 24px; color: black;"></i></a></li>
                    <li class="nav-item inline-block">
                        <a href="https://medium.com/@mehulkothari05" aria-label="Medium" class="nav-link">

                            <span><img class="img-circle medium-icon" width="24" alt=""
                                    src="https://seeklogo.com/images/M/medium-logo-93CDCF6451-seeklogo.com.png"></span></a>
                    </li>
                    <li class="nav-item inline-block">
                        <a href="https://www.instagram.com/mehul_kothari05/" aria-label="Instagram" class="nav-link"><i
                                class="fa fa-instagram" style="font-size: 24px; color: black;"></i></a>
                    </li>
                    <li class="nav-item inline-block">
                        <a href="https://www.linkedin.com/in/mehul-kothari-765868126/" aria-label="LinkedIn" class="nav-link"><i class="fa fa-linkedin" style="font-size: 24px; color: black;"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="myHeader">
            <ul class="nav navbar-nav">

                <li routerLinkActive="active">
                    <!--      <a routerLink="/login">login</a> -->
                </li>
                <li routerLinkActive="active">
                    <!--    <a routerLink="/signup">Sign-up</a> -->
                </li>
                <li routerLinkActive="active">
                    <a *ngIf="allpostcount==0" routerLink="/create-post">Create post</a>
                    <a *ngIf="allpostcount>0" routerLink="/create-post">Add Post</a>
                </li>

                <li routerLinkActive="active" *ngIf="!isAuthenticated">
                    <a routerLink="/auth">Authenticate</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAuthenticated && isemailverfied">
                    <a routerLink="/myposts">MyPosts</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAuthenticated && !isprofileSet ">
                    <a routerLink='/myprofile'>CreateProfile</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAuthenticated && isprofileSet && isemailverfied">
                    <a [routerLink]="['/myprofile', username]">MyProfile</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>




<div class="footer-icons hidden-xs hidden-sm">
    <ul class="navbar-nav ">
        <li class="nav-item inline-block">
            <a href="https://github.com/mehulk05" aria-label="Github" class="nav-link text-github"><i
                    class="fa fa-github" style="font-size: 24px; color: black;"></i></a></li>
        <li class="nav-item inline-block">
            <a href="https://medium.com/@mehulkothari05" aria-label="Medium" class="nav-link">

                <span><img class="img-circle medium-icon" width="24" alt=""
                        src="https://seeklogo.com/images/M/medium-logo-93CDCF6451-seeklogo.com.png"></span></a>
        </li>
        <li class="nav-item inline-block"><a href="https://www.instagram.com/mehul_kothari05/" aria-label="Instagram" class="nav-link"><i class="fa fa-instagram" style="font-size: 24px; color: black;"></i></a>
        </li>
        <li class="nav-item inline-block">
            <a href="https://www.linkedin.com/in/mehul-kothari-765868126/" aria-label="LinkedIn" class="nav-link"><i
                    class="fa fa-linkedin" style="font-size: 24px; color: black;"></i></a>
        </li>
    </ul>
</div>

<div class="container middle">

    <!-- <ngx-spinner bdColor="rgb(221,214,243,0.5)" size="medium" type="ball-spin-fade" color="#42275a" fullScreen=" true">
      <p style="color: Black;font-size: 20px; font-weight: 600;">Loading News... </p>
  </ngx-spinner> -->
    <router-outlet></router-outlet>
</div>



<div class="container" *ngIf="!isloading">
    <footer class="fadeInUp col-md-12">
        <a href="https://github.com/mehulk05/Blog-Book" class="button github"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                </path>
            </svg><span>Open Sourced on GitHub</span></a>



        <a href="https://medium.com/@mehulkothari05/blogging-app-using-angular-9-and-firebase-98e36168d850" class="button btn-light medium">
            <span><img class="img-circle" width="20" alt=""
                    src="https://seeklogo.com/images/M/medium-logo-93CDCF6451-seeklogo.com.png">Read about this Project
                On MEDIUM</span></a>


        <div class="footer-icons">
            <ul class="navbar-nav ">
                <li class="nav-item inline-block">
                    <a href="https://github.com/mehulk05" aria-label="Github" class="nav-link text-github"><i
                            class="fa fa-github" style="font-size: 24px; color: black;"></i></a></li>
                <li class="nav-item inline-block">
                    <a href="https://medium.com/@mehulkothari05" aria-label="Medium" class="nav-link">

                        <span><img class="img-circle medium-icon" width="24" alt=""
                                src="https://seeklogo.com/images/M/medium-logo-93CDCF6451-seeklogo.com.png"></span></a>
                </li>
                <li class="nav-item inline-block"><a href="https://www.instagram.com/mehul_kothari05/" aria-label="Insagram" class="nav-link"><i class="fa fa-instagram"
                            style="font-size: 24px; color: black;"></i></a>
                </li>
                <li class="nav-item inline-block"><a href="https://www.linkedin.com/in/mehul-kothari-765868126/" aria-label="LinkedIn" class="nav-link"><i class="fa fa-linkedin"
                            style="font-size: 24px; color: black;"></i></a>
                </li>
            </ul>
        </div>
    </footer>
</div>

<h5 *ngIf="!isloading" class="text-center copyright"> © Copyrights reserved by Mehul Kothari</h5>