/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr.css';
@font-face {
    font-family: medium-content-sans-serif-font;
    src: url(assets/fonts/marat-sans-400-normal.woff) format("woff");
}

.loading-text h3 {
    text-align: center;
    margin-top: 50px;
}

.loading-text p {
    text-align: center;
    margin-top: 50px;
    color: black;
    text-align: center;
    font-size: 22px;
}

.error-text p {
    color: black;
    text-align: center;
    font-size: 22px;
}

.navbar-default .navbar-collapse .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content h2 {
    margin-top: 10px;
}

.main-content h2,
.main-content>p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media screen and (max-width:767px) {
    .main-content h2 {
        font-size: 18px;
        font-weight: 700;
    }
    .navbar-nav,
    .collapse.navbar-collapse ul>li {
        display: inline-block;
    }
    .collapse.navbar-collapse {
        display: block;
    }
    ul.nav.navbar-nav.navbar-right {
        margin-left: 25px;
    }
    .navbar-nav {
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar-default .navbar-collapse .navbar-nav>li>a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.help-block {
    color: red
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red
}

.no-text {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.card.row {
    box-shadow: 0 10px 35px rgba(0, 0, 0, .1);
    border: none !important;
    border-radius: 6px;
    margin: 0;
    min-height: 180px;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
}

.list-group,
.img-circle {
    box-shadow: 0 10px 35px rgba(0, 0, 0, .2);
}

.list-group {
    margin-right: 25px;
}

.main-content div {
    padding: 0;
}

.main-content {
    position: unset;
}


/* .author-date {
    margin-top: 10px
} */

.author-date>p {
    color: #474d55;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    line-height: 1.3;
}

.navbar-default {
    margin-bottom: 45px;
}

button,
p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #000;
}

.img-col {
    padding: 0;
}

.img-col img {
    min-height: 180px;
}

h2.title {
    font-weight: 600;
    margin-top: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 24px;
    line-height: 1.3;
}

.author-date {
    position: absolute;
    bottom: 0;
    padding-bottom: 7px;
}

@media screen and (max-width:767px) {
    .img-col img,
    .card.row {
        min-height: 145px;
    }
    h2.title {
        font-size: 18px;
    }
    .navbar-default {
        margin-bottom: 20px;
    }
}

@media screen and (max-width:350px) {
    .navbar-default .navbar-collapse .navbar-nav>li>a {
        padding: 8px;
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media screen and (min-width:351px) and (max-width:400px) {
    .navbar-default .navbar-collapse .navbar-nav>li>a {
        font-size: 15px;
    }
}

a.author-name {
    color: #1b75d2;
    font-size: 22px !important;
}

.card.row.card-featured .main-content p {
    -webkit-line-clamp: 5;
    max-height: 151px;
}