input[type="file"] {
    width: 200px;
}

.col-md-4.col-sm-3.col-xs-12 {
    margin-bottom: 25px;
}

.percantage {
    width: 29%;
}

.center-block {
    float: none
}

.col-xs-7 {
    padding-top: 15px;
}